.iniciar {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 730px;
    top: 700px;
    left: 570px;
    &__botao {
        display: flex;
        align-items: center;
        padding-left: 25px;
        width: 351px;
        height: 80px;
        background: #FE652B;
        mix-blend-mode: normal;
        border: 2px solid #000000;
        box-shadow: 4px 4px 0px #000000;
        border-radius: 37.5px;
        color: white;
        cursor: pointer;
    }
    &__label {
        margin-left: 25px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        cursor: pointer;
    }
}