@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
  overflow: hidden;
  margin: 0;
  background-color: #4B69FD;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
